*{
	margin: 0;
	padding: 0;
}

a{text-decoration: none;}

main{
	width:100%;
	height: 460px;
	background: url(/images/login/banner.jpg) no-repeat center;
	
	.wrap{
		height: 460px;		
	}
}

main .login{
	width: 330px;
	height: 330px;
	background-color: #ffffff;
	margin-top: 45px;
	margin-left: 700px;
}
.alert1{
            color:#cc4d40;
            text-align: center;
            font-weight: 600;padding-left: 30px;
        }
main .login .top{
	width: 330px;
	height: 56px;
}

main .login .top h3{
	font-size: 15px;
	color: #c3ab9b;
	float: left;
	margin-left: 25px;
	margin-top: 33px;
}

main .login .top span a{
	float: right;
	margin-top: 41px;
	margin-right: 47px;
	font-size: 13px;
	color: #fe7c31;
	&:hover{color: #b61d1d;}
}

main .login .content{
	width: 331px;
	height: 184px;
	position: relative;
	form{
		height: 180px;
	}
	span{
		/*display: inline-block;*/
		height: 60px;
	}
}

main .login .content input{
	width: 262px;
	height: 31px;
	border: none;
	border: 1px solid #ccc;
	margin-top: 10px;
	margin-left: 25px;
	float: left;
	text-indent: 25px;
}

main .login .content img:nth-of-type(1) {
	position: absolute;
	top: 17px;
	left: 29px;
}

main .login .content img:nth-of-type(2) {
	position: absolute;
	top: 60px;
	left: 29px;
}

main .login .content span a{
	font-size: 13px;
	color: #666666;
	float: right;
	margin-right: 48px;
	margin-top: 14px;
}

main .login .content #submit{
	width: 260px;
	height: 33px;
	background-color: #c1342e;
	color: #FFFFFF;
	float: left;
	margin-top: 30px;
	margin-left: 25px;
	border-radius: 10px;
	border: none;
	font-weight: bold;
	cursor: pointer;
}

main .login .bottom{
	width: 331px;
	height: 92px;	
}

main .login .content .bottom p{
	font-size: 13px;
	color: #666666;
	float: left;
	margin-top:25px ;
	margin-left:25px ;
	width: 105px;
	height: 32px;
	line-height: 32px;	
}
main .login .content .bottom .icon{
	width:100px;height: 32px;
	float: left;margin-top:25px ;
	span{
		display: inline-block;
		width: 32px;height: 32px;
		background: url(/images/login/un_login_third.png) center;
		background-position: -35px 141px;
		cursor: pointer;
	}
	i{
		display: inline-block;
		width: 32px;height: 32px;
		background: url(/images/login/un_login_third.png) center;
		background-position: -104px 141px;
		margin-left: 10px;	
		cursor: pointer;		
	}
}
